@use 'base/variables' as v;
@use 'base/mixins' as m;

.body-home{
    height: 100%;
}
.contenedor-header{
    width: 100%;
    background-color: v.$blanco;
    height: 4rem;
}
.contenido-header {    
        display: flex;
        padding-top: 1rem;

        @include m.tablet {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
        }

        div{
            margin: 0 2rem;
        }

        div:last-child{
            margin: 0 1rem;
        }
}

.contenedor-main{
    height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
}

.barra-lateral{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: v.$grisOscuro;
    overflow-y: auto;

    a{
        color: v.$blanco;
        margin-left: 1rem;
        padding: .5rem 0;
    }

}

.link-lateral{
    display: flex;
    align-items: center;
}