@use 'base/variables' as v;
@use 'base/mixins' as m;

body {
    height: 100vh;
    background-color: v.$blanco;
}

.contenedor-login {
    height: 100vh;
    @include m.flex;
    gap: 20rem;
}

.formulario-login {
    height: 100vh;
    border-radius: 1rem;
    @include m.flex;
    
}
.contenedor-formulario {
    @include m.flex;
    flex-direction: column;
    height: 75vh;
    width: 70vh;

    span{
        margin: 5rem 0;
        color: v.$negro;
        font-size: 2.5rem;
    }

    h3{
        font-size: 4rem;
        margin: 0px;
    }
}
.contenedor-formulario-input{
    @include m.flex;
    flex-direction: column;

    input{
        border: 1.5px solid v.$rojo;
        border-radius: 2rem;
        margin: 1.7rem 0rem;
        width: 70rem;
        height: 6rem;
    }


}

.contenedor-boton{
    margin-bottom: 2rem;
}
.contenedor-boton input{
    width: 22rem;
    height: 6rem;
}

.contenedor-formulario a{
    text-decoration: none;
}

.contenedor-formulario a:hover{
    text-decoration: underline;
    text-underline-offset: .5em;
}

.imagen-login{
    img{
        width: 65rem;
        height: 64rem;
    }
}
