@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuevo{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: v.$verde_boton;
    color: v.$blanco;
    padding: 1rem 3rem;
    margin: 1rem 0;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;  
    border-radius: .5rem important;
    width: 12rem; 
    text-align: center;
    border: none;
    cursor: pointer;
    position: relative;
    
    svg{
        position: absolute;
        right: 2rem;
    }

}

.detalleventas td{    
    text-align: right;
}
.accionesventa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.iconoDescargarPdf{
    color : v.$rojo;
}

.detalleventa{
    display: flex;
    align-items: center;
    justify-content: center;
    color : v.$verde_boton;
}
